<ion-header>
    <app-header back="true" title="Create New Account">
    </app-header>
</ion-header>

<ion-content>
<ion-list>
<ion-list-header style="text-align: center">
    <span style="color: #CC1F2C; font-weight: bolder">Please Note:</span>
           All required fields (<span class="required-field">*</span>) 
               must be completed to register.
</ion-list-header>
        <form [formGroup]="formGroup">
                <ion-item>
                       <span class="required-field">*</span>Username
                       <ion-icon style="color:#CC1F2C"
                             (click)="presentUserPopover($event)"                              
                              name="information-circle"></ion-icon>
                      
                        <error-message-span *ngIf="formGroup.controls.username.invalid && formGroup.controls.username.touched"
                         [errorText]="formGroup.controls.username.errors | val_err_pipe:'username'" [iconType]="'none'">
                        </error-message-span>
                </ion-item>
                <ion-item>
                    <ion-input autocapitalize="off" formControlName="username" type="text"></ion-input>
                </ion-item>
                <ion-item>
                        {{ 'Password' }} 
                    <a id="show-link" (click)="showPassword()">{{(showpassword==='password') ? 'show' : 'side'}}</a>
                    <ion-icon color="red" name="information-circle" (click)="presentPasswordPopover()"></ion-icon>
                    <error-message-span *ngIf="formGroup.controls.password.invalid && formGroup.controls.password.touched"
                         [errorText]="formGroup.controls.password.errors | val_err_pipe:'password'" [iconType]="'none'">
                        </error-message-span>
                </ion-item>
                <ion-item>
                    <ion-input autocapitalize="off" formControlName="password" [type]="showpassword"></ion-input>
                </ion-item>

            <!--password2 fields-->
            <ion-item no-lines class="">
                <ion-label stacked><span class="required-field">*</span>Confirm Password
                    <error-message-span *ngIf="formGroup.controls.password.invalid && formGroup.controls.password.touched"
                    [errorText]="formGroup.controls.password.errors | val_err_pipe:'password'" [iconType]="'none'">
                   </error-message-span></ion-label>
                <ion-input autocapitalize="off" type="password" formControlName="passwordrepeat" ngDefaultControl></ion-input>
            </ion-item>
            
            <!--save login radio-->
            <ion-item no-lines>
                <ion-label>{{ 'Save My Login'}}</ion-label>
                <ion-checkbox dark formControlName="remember" ngDefaultControl></ion-checkbox>
            </ion-item>

            <!--preferred contact method  and errors section-->
            <ion-item no-lines *ngIf="emailerror" class="word-wrap: break-word;" text-wrap>
                <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                <p class="no-text-transform" style="color:#CC1F2C">{{emailerrorvalue}}</p>
            </ion-item>
            <ion-item no-lines *ngIf="smserror" class="word-wrap: break-word;" text-wrap>
                <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                <p class="no-text-transform" style="color:#CC1F2C">{{smserrorvalue}}</p>
            </ion-item>
            <contactMethod name="ep" [email]="pcmethod" (methodUpdated)="checkRequired(); clearContactErrors();" (contactMethodBlur)="checkContactMethod()"></contactMethod>
            <!--terms of service agreement-->
            <ion-item no-lines *ngIf="!terms" class="word-wrap: break-word;" text-wrap #termsErrorElem>
                <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                <p class="no-text-transform" style="color:#CC1F2C">{{termserrorvalue}}</p>
            </ion-item>
            <input type="submit" class="hidden-submit" />
            <ion-row align-items-center justify-content-center>
                <ion-col class="reviewpandt">
                    <button ion-button id="reviewptbtn" (click)="viewTerms()">Review Privacy &amp; Terms</button>
                </ion-col>
                <ion-col class="iaccept">
                    <ion-item class="item-checkbox-right" no-lines>
                        <ion-label id="acceptlbl" text-right><span class="required-field">*</span>I Accept</ion-label>
                        <ion-checkbox name="terms" item-start formControlName="terms" [disabled]="!modalClicked" style="margin-top: auto; margin-bottom: auto;">
                        </ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
            <!--cancel and registration-->
            <ion-row>
                <ion-col></ion-col>
                <ion-col>
                    <button ion-button color="primary" (click)="back()">Cancel</button>
                </ion-col>

                <ion-col></ion-col>
                <ion-col>
                    <button ion-button color="primary" [disabled]="!meetsRequirement" (click)="register()" >Register</button>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>

            <div style="min-height: 10vh !important;"></div>
        </form>
    </ion-list>
</ion-content>
