<!--
  This template handles data entry, validation, and submission for group creation
-->

<ion-header>
    <app-header back="false" title="Create Group">
    </app-header>
</ion-header>
<ion-content padding [formGroup]="createGroupForm">
    <div class="absolute-container">
        <ion-row>
            <ion-col col-4>
                <ion-label>
                    <error-message-span *ngIf="!showList && createGroupForm.controls.name.invalid && createGroupForm.controls.name.dirty && createGroupForm.controls.name.touched"
                        [errorText]="'Required. Must be 3+ characters'">
                    </error-message-span>Organization:
                </ion-label>
            </ion-col>
            <ion-col col-8>
                <ion-searchbar placeholder="Search Org.Names" (click)="initializeItems()" 
                    (ionInput)="getItems($event)" type="text" formControlName="name"
                    ngDefaultControl></ion-searchbar>
                <ion-list *ngIf="showList">
                    <ion-item (click)="orgNameSelected(orgName)" *ngFor="let orgName of filteredList">
                        {{ orgName }}
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4>
                <ion-label>
                    <error-message-span *ngIf="createGroupForm.controls.org_type.value =='Choose One...' && createGroupForm.controls.org_type.touched"
                        [errorText]="'Required'">                   
                    </error-message-span>Organization Type: 
                </ion-label>
            </ion-col>
            <ion-col col-8>
                <ion-select formControlName="org_type" color="red" interface="popover" ngDefaultControl placeholder="Choose One...">
                    <ion-option color="red" *ngFor="let organizationType of organizationTypes" value="{{organizationType}}">
                        {{ organizationType }}
                    </ion-option>
                </ion-select>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4>
                <ion-label>                        
                    <error-message-span 
                       *ngIf="createGroupForm.controls.group.invalid && createGroupForm.controls.group.dirty && createGroupForm.controls.group.touched"
                       [errorText]="'Required. Must be 3+ characters'">
                    </error-message-span>Group Name:
                </ion-label>
            </ion-col>
            <ion-col col-8>
                <ion-input [autocomplete]="on" type="text" formControlName="group"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4>
                <ion-label>                    
                    <error-message-span *ngIf="createGroupForm.controls.description.value =='Choose One...' && createGroupForm.controls.description.touched"
                    [errorText]="'Must be less than 64 characters'">                   
                </error-message-span>Description:</ion-label>
            </ion-col>
            <ion-col col-8>
                <ion-textarea class="textarea" type="text" formControlName="description"></ion-textarea>
            </ion-col>
        </ion-row>
    </div>
    <div>
        <h4>Group Members</h4>
    </div>
    <member-data-entry *ngFor="let member of groupMembers" 
        [member]="member" (memberDeleted)="onMemberDeleted(member)"></member-data-entry>


<ion-content padding>
    <form  (ngSubmit)="addGroup()">
        <div class="absolute-container">
            <ion-row>                  
            </ion-row>
            <ion-row>
                <ion-col col-4>
                    <ion-label>Organization:</ion-label>
                </ion-col>
                <ion-col col-8>
                    <ion-searchbar placeholder="" (click)="initializeItems()" (ionInput)="getItems($event)" type ="text"  [(ngModel)]="orgRequest.name" name="orgRequest.name"></ion-searchbar>
                        <ion-list *ngIf="showList">
                            <ion-item (click)="orgRequest.name = org; showList = false;" *ngFor="let org of filteredList">
                                {{ org }}
                            </ion-item>
                        </ion-list>
                </ion-col>
             </ion-row>
            <ion-row>
                <ion-col col-4>
                    <ion-label>Group Name:</ion-label>
                </ion-col>
                <ion-col col-8>
                    <ion-input type="text" [(ngModel)]="orgRequest.group"  name="orgRequest.group"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4>
                    <ion-label>Description:</ion-label>
                </ion-col>
                <ion-col col-8>
                    <ion-textarea class="textarea" type="text"  [(ngModel)]="orgRequest.description"  name="orgRequest.description"></ion-textarea>
                </ion-col>
            </ion-row>
        </div>
         
        <div class="member-header">
            <h4>Group Members</h4>
        </div>
        <div  *ngFor = "let row of rows; let x = index; trackBy:trackByIndex" style="border-bottom: 0.5px solid black;">
            <a (click)="deleteMember(x)"><img class="hover-img" style="float: right; padding: 1%;" src="assets/img/16pxDeleteIcon.png"></a>
            <ion-row align-items-center>
                <ion-col col-4>
                    <p>First Name</p>
                </ion-col>
                <ion-col col-4>
                    <p>Last Name</p>  </ion-col>
                <ion-col col-4>
                    <p>Contact</p>   
                </ion-col>
            </ion-row>
            <ion-row >
                <ion-col col-4>
                    <ion-input  [(ngModel)]="row.first_name" name="firstname{{x}}"   required></ion-input>
                </ion-col>
                <ion-col col-4>
                        <ion-input  [(ngModel)]="row.last_name" name="lastname{{x}}"  required type ="text"></ion-input>
                </ion-col>
                <ion-col col-4>
                    <ion-select  (ionChange)="flipBoolean(row.contactString, x)" [(ngModel)]="row.contactString" name="contactString{{x}}" placeholder="Choose One..." >
                        <ion-option  value="Email">Email</ion-option>
                        <ion-option  value="Phone">Phone</ion-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4></ion-col>
                <ion-col col-4></ion-col>
                <ion-col col-4>
                    <ion-input *ngIf="row.isEmailSelected" class="below-select" [(ngModel)]="row.email" name = "email{{x}}" placeholder="Enter Email" type ="email"></ion-input>
                    <phone-input id="createGroupPhoneInput" *ngIf="row.isPhoneSelected" class="below-select" [(ngModel)]="row.mobilenumber" name="mnum{{x}}" placeholder="Enter Phone Number" type ="tel" maxlength="11" ></phone-input>
                </ion-col>
            </ion-row>
            <ion-row>   
                <ion-col col-6>
                    <p>Role</p>   
                </ion-col>
                <ion-col col-6>
                    <p>Status</p>   
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-select (ionChange)="setAsNumber(row.isAdmin)" [(ngModel)]="row.isAdmin" name = "isAdmin{{x}}"  >
                        <ion-option  value =2> Admin</ion-option>
                        <ion-option  value=0>Member</ion-option>
                    </ion-select>
                    <br>
                </ion-col>
                <ion-col col-6>   
                    <ion-select [(ngModel)]="row.isActive" name="isActive{{x}}" type ="text">
                        <ion-option value = "1">Active</ion-option>
                        <ion-option value="0">Inactive</ion-option>
                    </ion-select>
                </ion-col>        
            </ion-row>
        </div>
        <div class="container">
            <ion-row>
                <ion-col  col-4>
                    <button ion-button small type="button"  color="dark" (click)="cancel()">Cancel</button>
                </ion-col>
                <ion-col style="padding-right: 40%;" col-5>
                    <button  ion-button small type="button"  (click)="addMember()">Add a Member</button>
                </ion-col>
                <ion-col col-3>
                    <button ion-button small  type="submit">Submit</button>
                </ion-col>
            </ion-row>
        </div>
         <div style="min-height: 10vh !important;">
        </div>    
    </form>
</ion-content>
